<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/layout/header :: header}"></head>
<body>
    <div th:replace="~{common/fragment/home :: home}"></div>

    <div class="container my-3">
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>이름</th>
                    <th>가입 유형</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}" class="align-middle">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:if="${user.isHost}" th:text="호스트"></td>
                    <td th:unless="${user.isHost}" th:text="게스트"></td>
                    <td>
                        <a th:href="@{/admin/users/{id}/edit (id=${user.id})}" class="btn btn-secondary" role="button">
                            수정
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <a href="/admin/users/new" class="btn btn-primary">
                추가하기
            </a>
        </div>
    </div>

    <footer th:replace="~{common/layout/footer :: footer}"></footer>
</body>
</html>