<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/layout/header :: header}"></head>
<body>
<div th:replace="~{common/fragment/home :: home}"></div>

<div class="container my-3">
    <form role="form" method="post" action="/admin/experience/new" th:object="${experienceForm}">
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label th:for="name">경험</label>
            <input type="text" th:field="*{name}"
                   th:class="${#fields.hasErrors('name') ? 'form-control is-invalid' : 'form-control'}">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                Incorrect data
            </p>
        </div>

        <div class="form-group">
            <label th:for="country">국가</label>
            <input type="text" th:field="*{country}"
                   th:class="${#fields.hasErrors('country') ? 'form-control is-invalid' : 'form-control'}">
            <p th:if="${#fields.hasErrors('country')}" th:errors="*{country}">
                Incorrect data
            </p>
        </div>

        <div class="form-group">
            <label th:for="city">도시</label>
            <input type="text" th:field="*{city}"
                   th:class="${#fields.hasErrors('city') ? 'form-control is-invalid' : 'form-control'}">
            <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}">
                Incorrect data
            </p>
        </div>

        <div class="form-group">
            <label th:for="address">가격</label>
            <input type="text" th:field="*{price}"
                   th:class="${#fields.hasErrors('price') ? 'form-control is-invalid' : 'form-control'}">
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
                Incorrect data
            </p>
        </div>

        <div class="form-group">
            <label th:for="address">주소</label>
            <input type="text" th:field="*{address}"
                   th:class="${#fields.hasErrors('address') ? 'form-control is-invalid' : 'form-control'}">
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
                Incorrect data
            </p>
        </div>

        <div class="form-group">
            <label th:for="host">호스트</label>
            <select th:field="*{hostId}" class="form-select">
                <option th:each="host : ${hosts}"
                        th:value="${host.id}" th:text="${host.name}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">
            등록하기
        </button>
    </form>
</div>

<footer th:replace="~{common/layout/footer :: footer}"></footer>
</body>
</html>