<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/layout/header :: header}"></head>
<body>
    <div th:replace="~{common/fragment/home :: home}"></div>

    <div class="container my-5">
        <div class="app-group">
            <h3>USER APP</h3>
            <hr class="mx-0 mt-0 mb-3">
            <p class="mt-2">
                <a href="/admin/users" class="text-muted text-decoration-none">User</a>
            </p>
        </div>

        <div class="app-group">
            <h3>CONTENT APP</h3>

            <hr class="mx-0 mt-0 mb-3">

            <p class="mt-2">
                <a href="/admin/amenity" class="text-muted text-decoration-none">Amenity</a>
            </p>
            <p class="mt-2">
                <a href="/admin/category" class="text-muted text-decoration-none">Category</a>
            </p>
            <p class="mt-2">
                <a href="/admin/experience" class="text-muted text-decoration-none">Experience</a>
            </p>
            <p class="mt-2">
                <a href="/admin/perk" class="text-muted text-decoration-none">Perk</a>
            </p>
            <p class="mt-2">
                <a href="/admin/photo" class="text-muted text-decoration-none">Photo</a>
            </p>
            <p class="mt-2">
                <a href="/admin/review" class="text-muted text-decoration-none">Review</a>
            </p>
            <p class="mt-2">
                <a href="/admin/room" class="text-muted text-decoration-none">Room</a>
            </p>
            <p class="mt-2">
                <a href="/admin/video" class="text-muted text-decoration-none">Video</a>
            </p>
        </div>
    </div>

    <footer class="w-100" th:replace="~{common/layout/footer :: footer}"></footer>
</body>
</html>